#---------------------------------
# Directories
#---------------------------------
node_modules
tmp/
coverage

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.orig


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db

#---------------------------------
# Env vars
#---------------------------------
.env.local
.npmrc
service-account*

#---------------------------------
# Build
#---------------------------------
lib/
build/
webpack-assets.json
webpack-stats.json

#---------------------------------
# Admin
#---------------------------------
build/
.next

#---------------------------------
# DB
#---------------------------------
!db/build

